@import url("https://fonts.googleapis.com/css2?family=Exo+2&family=Fredoka+One&family=Lato&family=Montserrat&family=Raleway&family=Righteous&display=swap");

section.container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-content {
  max-width: 900px;
  width: 100%;
  padding: 10px;
}

.login-wrapper {
  width: 100%;
}

.bg-login {
  background: linear-gradient(45deg, #FFEB3B, #E91E63);
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -999;
}

.welcome-screen img.logo {
  width: 70%;
  margin-top: -20%;
  margin-bottom: 20%;
  border: 2px solid;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #fff;
}

.welcome-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.welcome-texts {
  width: 100%;
  text-align: center;
}

.pre-title {
  font-size: 14px;
}

.title {
  font-size: 30px;
}

.subtitle {
  font-size: 13px;
}

.login-form input {
  width: 90%;
  font-size: 14px;
  padding: 5%;
  border-radius: 6px;
  margin: 20px 0px 0px;
  outline: none;
  border: 2px solid #ff9800;
}

.inpt-group label {
  position: absolute;
  background: #ff9800;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  margin-left: 10px;
  margin-top: 8px;
}

form.login-form {
  text-align: center;
}

.login-screen {
  text-align: center;
}

.multi-buttons {
  display: flex;
  justify-content: space-evenly;
}

.helper-texts a {
  color: red;
}

.error {
  background: red;
  border-left: 10px solid #970303;
  padding: 10px;
  margin: 10px 0px;
  border-radius: 4px;
  position: fixed !important;
  top: 0px;
  right: 10px;
}

.navbar {
  transition: 0.9s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 5%;
  width: -webkit-fill-available;
  height: 50px;
}

.navbar .nav-left {
  width: 50%;
  height: -webkit-fill-available;
  display: flex;
  align-items: center;
}

.navbar .logo {
  font-size: 20px;
}

.navbar .nav-right {
  width: 50%;
  height: -webkit-fill-available;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar .user {
  font-size: 24px;
  width: 35px;
  height: 35px;
  text-align: center;
  border-radius: 4px;
  margin-left: 10px;
  background: #ff980030;
  color: #ff9800;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
  padding: 2px;
  z-index: 1;
  right: 30px;
  top: 60px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.5s;
}

.dropdown-content:hover {
  background-color: #ebebeb;
}

.user:hover .dropdown-content {
  display: block;
}

.navbar.stickey {
  transition: 0.6s;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0px 0px 10px 0px #ddd;
  background: #ffffff;
  height: 50px;
  z-index: 9999;
  border-radius: 0px;
}

.welcome {
  font-size: 23px;
  font-weight: 500 !important;
}

.nm {
  font-size: 16px;
  color: #ff9800;
  margin-bottom: -6px;
}

.logo img {
  width: 15%;
}

.sidebar {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, #ffd454, #ffdede);
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 17px;
  color: #494949;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #ff9800;
  font-size: 20px;
}

.sidebar-links a.active {
  font-size: 20px;
  color: #ff9800;
}

.sidebar .closebtn {
  position: absolute;
  top: 15px;
  right: -25px;
  font-size: 35px;
  margin-left: 50px;
  background: #111111;
  border: 0px;
  width: 50px;
  border-radius: 50%;
  height: 50px;
  box-shadow: 0px 0px 10px 0px #ffeb3b;
  cursor: pointer;
  transition: 0.3s;
  color: #ffeb3b;
}

.sidebar .closebtn:hover {
  width: 55px;
  height: 55px;
  top: 12.5px;
}

.sidebar-header {
  height: 100px;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid;
  margin: 0% 5% 7%;
}

.sidebar-header .title {
  font-size: 35px;
  text-align: center;
}

.sidebar-links {
  margin: 0% 0% 0% 5%;
}

.sidebar-content {
  overflow-x: hidden;
  width: 100% !important;
}

button.closebtn {
  background: #ffffff00;
  outline: none;
  border: none;
  font-size: 30px;
  color: #ff9800;
  cursor: pointer;
}

.menu {
  width: 20%;
}

button.sidebar-closebtn {
  background: #fff;
  outline: none;
  border: none;
  color: red;
  font-size: 17px;
  position: absolute;
  top: 3%;
  right: 4%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title img {
  width: 25%;
}

.sidebar-header .title p {
  margin: 0px 0px 20px;
  font-size: 25px;
  padding: 0px;
  line-height: 0px;
  color: #ff9800;
  font-weight: 600;
}

.welcome-screen {
  max-width: 350px;
  padding: 10px;
  width: 350px;
  color: #fff;
}

.login-screen {
  max-width: 350px;
  padding: 10px;
  width: 350px;
  color: #fff;
}

.login-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div#main {
  transition: 0.9s;
}

.score-indecator canvas.styles_rangeSvg__1TDxQ {
  width: 250px !important;
}

.styles_wrapper__3KXDn {
  width: 100% !important;
}

.score-indecator {
  border-radius: 10px;
  background: #ecd6f08a;
  padding: 30px 10px 0px;
  box-shadow: 0px 0px 10px 0px #ddd;
  border-bottom: 3px solid #ff9800;
}

.score-indecator {
  width: 50%;
}

.score-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score-details {
  width: 50%;
  padding: 20px;
}

.hme {
  display: flex;
  justify-content: center;
  align-items: center;
}

.actns {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}

.actns-itm {
  width: 33%;
  background: #ff9800;
  color: #fff;
  padding: 10px;
  height: 50px;
  margin: 0px 2px;
  border-radius: 5px;
  display: flex;
  align-items: flex-end;
  font-size: 12px;
}

.actns-itm strong {
  position: absolute;
  font-size: 50px;
  color: #f5e9f775;
}

.not-found {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fbfbfb;
}

.not-found img {
  width: 50%;
}

a.btn {
  text-decoration: none;
}

img.anime {
  width: 60%;
}

.footer {
  height: 200px;
  background: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100% !important;
  margin: 10px 0px 0px;
}

.ftr-txt {
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  padding: 10px;
  font-size: 13px;
  color: #525252;
}

.footer i {
  color: red;
  margin: 0px 5px;
  font-size: 20px;
}

.btm-bar {
  width: 30%;
  position: fixed;
  bottom: 0;
  right: 0;
  background: #ff9800;
  z-index: 999999;
  box-shadow: 0px 0px 9px 2px #0000007d;
  border-radius: 5px 0px 0px 5px;
}

.btm-bar-wrap {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 0px;
}

.btm-bar-wrap a {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.btm-bar-wrap a i {
  font-size: 30px;
}

.btm-txt {
  color: #fff;
  font-size: 12px;
}

h1 {
  margin: 2px;
  font-size: 30px;
  font-weight: 400;
}

.dtls {
  text-align: center;
  width: 100%;
}

p {margin: 2px;}

@media only screen and (max-width: 600px) {
  .btm-bar {
    width: 96%;
    position: fixed;
    bottom: 10px;
    left: 2%;
    background: linear-gradient(222deg, #FFC107, #FF5722);
    z-index: 999999;
    box-shadow: -1px 2px 11px 0px #000000a1;
    border-radius: 12px;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img.anime {
    width: 60%;
  }
  .not-found img {
    width: 100%;
  }
  .logo img {
    width: 30%;
  }
  .navbar .nav-left {
    width: 70%;
  }
  .navbar .nav-right {
    width: 30%;
  }
  section.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .main-content {
    max-width: 600px;
    width: 600px;
  }
  .hme {
    width: 100%;
    flex-wrap: wrap;
  }
  .score-indecator {
    width: 100%;
  }
  .score-details {
    width: 100%;
    padding: 10px;
  }
}
